## Mac Files
.DS_Store

## gradle
/.gradle
/build
/gradle
/gradlew
/gradlew.bat

## ForgeGradle
/run

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

## Others
/*.exe.stackdump
/mcp
/libs/*
gradle.properties
